/* GENERAL RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;            
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: currentColor;
    text-decoration: none;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

/* DEBUG RULES */

.debug header{
    padding: 20px;
}

/* SPECIFIC RULES */

.main-header {
    width: 100%;
    background-color: white;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0 20px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-list li a{
    font-weight: 300;
    padding: 0 20px;
    line-height: 34px;
    display: block;
}

.header-list .logo {
    padding-left: 0;
    line-height: unset;
}

.blue-button {
    color: white;
    background-color: #0160FF;
}

.section-first {
    background-color: #B4D0E7;
}

.container {
    max-width: 1255px;
    margin: 0 auto;
    padding: 80px 0 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.col-100 {
    flex-basis: 100%;
    margin-bottom: 40px;
}

.col-30 {
    flex-basis: 30%;
    position: relative;
}

.col-70 {
    flex-basis: 70%;
    margin-bottom: -75px;
}

.hero-title {
    font-size: 80px;
    font-weight: 800;
    width: 100%;
}

.free-trial {
    background-color: #0160FF;
    color: white;
    line-height: 34px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
}

.hero-paragraph {
    margin-bottom: 32px;
}

.hero-paragraph-2 {
    margin-top: 32px;
}

.arrow-down {
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 46px;
}

.container-small {
    max-width: 1045px;
    margin: 0 auto;
}

.padding-150 {
    padding: 150px 0 0;
}

.find-plan-title {
    font-size: 42px;
    margin-bottom: 70px;
}

.row-billing {
    gap: 50px
}

.billing-text {
    padding: 0 8px;
}

.plan-type {
    display: inline-block;
    font-weight: 400;
}

.card {
    border: 1px solid rgb(123, 123, 123);
    height: 100%;
}

.row-plans {
    margin: 0 -25px;
}

.col-33 {
    flex-basis: calc(100% / 3);
    padding: 0 25px;
    margin: 50px 0;
}

.col-100-2 {
    flex-basis: 100%;
    padding: 0 25px;
}

.card-header {
    border-bottom: 1px solid rgb(123, 123, 123);
    text-align: center;
    line-height: 40px;
}

.card-content {
    padding: 35px;
}

.plan-name {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.euro,
.euro-no {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.euro-no {
    margin-bottom: 83px;
}

.billing-frequency {
    color: rgb(123, 123, 123);
    margin-bottom: 50px;
    display: inline-block;
}

.benefits,
.more-benefits {
    list-style-position: outside;
}

.list-container {
    margin-left: 16px;
}

.benefits li {
    margin-bottom: 20px;
    padding: 0 5px;
}

.users::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
}

.storage-space::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07b";
}

.functions::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1e0";
}

.width-100 {
    width: 100%;
    margin: 30px 0;
}

.buy-now {
    text-decoration: underline;
    color: blue;
    margin-bottom: 40px;
    display: inline-block;
}

.info {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 30px;
}

.more-benefits li {
    margin-bottom: 25px;
    padding: 0 5px;
}

.info:before {
    content: "";
    display: block;
    background-color: rgb(172, 172, 172);
    width: 50px;
    height: 1px;
    margin-bottom: 55px;
}

.check::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0160FF;
}

.description {
    max-width: 700px;
}

.euro-no-2 {
    margin-bottom: 50px;
}

.row-column {
    display: flex;
    flex-direction: column;
}

.row-between {
    display: flex;
    justify-content: space-between;
}

.contact {
    background-color: #0160FF;
    color: white;
    padding: 12px;
    display: inline-block;
    text-align: center;
}

.card-content-100 {
    padding: 30px 35px;
}

.col-between {
    padding-top: 5px;
}

.section-second {
    padding: 150px 0;
}

.row-60-40 {
    margin: 0 -25px;
}

.row-60-40 [class^="col-"]{
    padding: 0 25px;
}

.col-60 {
    flex-basis: 60%;
}

.row-60-40 .col-40 {
    flex-basis: 40%;
    padding-top: 50px;
}

.find-partner {
    margin-bottom: 14px;
    font-size: 28px;
}

.white-button {
    border: 1px solid black;
    background-color: white;
    padding: 0 12px;
    line-height: 34px;
    display: block;
    width: max-content;
}

.partner-paragraph {
    margin-bottom: 30px;
}

.row-33 {
    margin: 0 -25px;
}

.row-33 .col-33 {
    margin-bottom: 0;
}

.size-38 {
    font-size: 38px;
    font-weight: 600;
}

.feature {
    padding-bottom: 32px;
    font-size: 24px;
}

.business-users {
    padding: 200px 0 55px;
    max-width: 630px;
}

.more-info {
    color: blue;
    text-decoration: underline;
    margin-bottom: 150px;
    display: block;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
    max-width: 100%;
}

.logo-50 {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.logo-50 img {
    width: 50%;
    filter: invert(100%);
}

.row-logos .col-33-large{
    flex-basis: calc(100% / 3);
}

/* .logo-img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    object-position: 50% 50%;
    display: inline-block;
} */

.designit {
    background-color: #A1D49B;
    border: 16px solid #D1E9CC;
}

.asu {
    background-color: #62082B;
}

.uf {
    background-color: #0093CE;
}

.topps {
    background-color: #FE1C1C;
}

.wbr {
    background-color: #D4011F;
}

.hearst {
    background-color: #B4D0E7;
}

.lonely {
    background-color: #0D2481;
}

.cco {
    background-color: #FFD72F;
}

.center-col {
    padding: 50px 50px 0;
}

.designit-large {
    width: 55%;
}

.designit-paragraph::before {
    display: block;
    content: "";
    width: 110px;
    height: 1px;
    background-color: #D9D9DB;
    margin: 45px 0;
}

.designit-paragraph {
    margin-bottom: 55px;
}

.col-100-large {
    background-color: #B4D0E7;
    flex-basis: 100%;
    padding: 130px 0;
}

.white-free-trial {
    border: none;
    padding: 0 50px;
    line-height: 40px;
}

.call-to-action {
    color: #60042E;
}

.col-50 {
    flex-basis: 50%;
}

.row-100-large {
    justify-content: space-between;
}

.col-padding {
    padding-top: 12px;
}
