/* GENERAL RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;            
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: currentColor;
    text-decoration: none;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

/* DEBUG RULES */

.debug header{
    padding: 20px;
}

/* SPECIFIC RULES */

.main-header {
    width: 100%;
    background-color: white;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0 20px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-list li a{
    font-weight: 300;
    padding: 0 20px;
    line-height: 34px;
    display: block;
}

.header-list .logo {
    padding-left: 0;
    line-height: unset;
}

.blue-button {
    color: white;
    background-color: #0160FF;
}

.section-first {
    background-color: #B4D0E7;
}

.container {
    max-width: 1255px;
    margin: 0 auto;
    padding: 80px 0 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.col-100 {
    flex-basis: 100%;
    margin-bottom: 40px;
}

.col-30 {
    flex-basis: 30%;
    position: relative;
}

.col-70 {
    flex-basis: 70%;
    margin-bottom: -75px;
}

.hero-title {
    font-size: 80px;
    font-weight: 800;
    width: 100%;
}

.free-trial {
    background-color: #0160FF;
    color: white;
    line-height: 34px;
    display: inline-block;
    text-align: center;
}

.hero-paragraph {
    margin-bottom: 32px;
}

.hero-paragraph-2 {
    margin-top: 32px;
}

.arrow-down {
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 46px;
}

.container-2,
.container-3 {
    max-width: 1045px;
    margin: 0 auto;
}

.padding-150 {
    padding: 150px 0 0;
}

.find-plan-title {
    font-size: 42px;
    margin-bottom: 70px;
}

.row-billing {
    gap: 50px
}

.billing-text {
    padding: 0 8px;
}

.plan-type {
    display: inline-block;
    font-weight: 400;
}

.card {
    border: 1px solid rgb(123, 123, 123);
    height: 100%;
}

.row-plans {
    margin: 0 -25px;
}

.col-33 {
    flex-basis: calc(100% / 3);
    padding: 0 25px;
    margin: 50px 0;
}

.col-100-2 {
    flex-basis: 100%;
    padding: 0 25px;
    margin-bottom: 50px;
}

.card-header {
    border-bottom: 1px solid rgb(123, 123, 123);
    text-align: center;
    line-height: 40px;
}

.card-content {
    padding: 35px;
}

.plan-name {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.euro,
.euro-no {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.euro-no {
    margin-bottom: 83px;
}

.billing-frequency {
    color: rgb(123, 123, 123);
    margin-bottom: 50px;
    display: inline-block;
}

.benefits,
.more-benefits {
    list-style-position: outside;
}

.list-container {
    margin-left: 16px;
}

.benefits li {
    margin-bottom: 20px;
    padding: 0 5px;
}

.users::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
}

.storage-space::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07b";
}

.functions::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1e0";
}

.width-100 {
    width: 100%;
    margin: 30px 0;
}

.buy-now {
    text-decoration: underline;
    color: blue;
    margin-bottom: 40px;
    display: inline-block;
}

.info {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 30px;
}

.more-benefits li {
    margin-bottom: 25px;
    padding: 0 5px;
}

.info:before {
    content: "";
    display: block;
    background-color: rgb(172, 172, 172);
    width: 50px;
    height: 1px;
    margin-bottom: 55px;
}

.check::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0160FF;
}

.description {
    max-width: 700px;
}

.euro-no-2 {
    margin-bottom: 50px;
}

.row-column {
    display: flex;
    flex-direction: column;
}

.row-between {
    display: flex;
    justify-content: space-between;
}

.contact {
    background-color: #0160FF;
    color: white;
    padding: 12px;
    display: inline-block;
    text-align: center;
}

.card-content-100 {
    padding: 30px 35px;
}

.col-between {
    padding-top: 5px;
}


